/* Custom styles for GIS AI Manual */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap');

/* ----------- Body and header text ---------------- */

.book.font-family-1 {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4 {
  color: #7ba1ad;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em !important;
  color: #608c99;
}

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  color: #608c99;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: pre-wrap;
}

/* ---- Horizontal line in top navbar ---- */

.summary > li:first-child {
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
  height: 0px;
}

/* ---- Code Chunks ---- */

.sourceCode pre {
  margin: 0 !important;
}

.sourceCode {
  margin-bottom: 0.85em;
}

/* ---- Sidebar div tips ---- */

div.puzzle, div.assignment, div.fyi, div.codetime, div.note, div.reading, div.sugreading, div.sds {
  padding: 1em;
  margin: 1em 0;
  min-height: 80px;
  color: #1f5386;
}

div.puzzle {
  background-color: #bed3ec;
}

div.assignment {
  border: solid 5px #7ba1ad;
}

div.fyi {
  background-color: #70db70;
}

div.codetime {
  background-color: #DEDEDE;
}

div.note {
  background-color: #FADA5E;
}

div.reading {
  border: solid 5px #bf68ab;
}

/* Tip/Note/Warning boxes */

.tip {
  background-color: #e8f5e9;
  border-left: 4px solid #2E7D32;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 4px;
}

.warning {
  background-color: #fff8e1;
  border-left: 4px solid #f57c00;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 4px;
}

.important {
  background-color: #fce4ec;
  border-left: 4px solid #c62828;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 4px;
}

/* ---- TOC ---- */

.book .book-summary {
  background: white;
  border-right: none;
}

.summary {
  font-family: 'Source Sans Pro', sans-serif;
}

.summary a:hover {
  color: #b0ced8 !important;
}

.book .book-summary ul.summary li.active>a {
  color: #b0ced8 !important;
  border-left: solid 4px;
  border-color: #b0ced8;
  padding-left: 11px !important;
}

li.appendix span, li.part span {
  margin-top: 1em;
  color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}

/* ---- Part headers ---- */

.part {
  color: #1c3046;
}

/* ---- Image styling ---- */

img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
